@model Article

<partial name="_detailArticle" model="Model"/>

<hr />

<partial name="_createComment" model="new Comment { ArticleID = Model.Id }" />

<hr />

<div id="divContentComments">
    @if(Model.Comments != null)
    {
        <partial name="_comment" model="Model.Comments"/>
    }    
</div>


<script>
    function submitComment() {
        var comment = {
            Auteur: $('#inputAuteur').val(),
            Contenu: $('#inputContenu').val(),
            ArticleID: $('#inputArticleID').val()
        };

        $.post('/Comment/CreateCommentAjax', { comment }, function (data) {
            $('#divContentComments').html(data);
            
        });
    }

    function deleteComment(id, idArticle) {
 
        $.get('/Comment/DeleteCommentAjax', { id, idArticle }, function (data) {
            console.log(data);
            $('#divContentComments').html(data);
        });
    }
</script>



